#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Common domain for all hardware services
type vendor_hal, domain;

# Common domain for RIL
type rild, domain;

# Common domain for cameraserver
type cameraserver, domain;

# Common domain for audioserver
type audioserver, domain;

# Common domain for surfaceflinger
type surfaceflinger, domain;


# Common domain for HALs
type hal_graphics_allocator_default, domain;
type hal_graphics_composer_default, domain;
type hal_power_default, domain;
type hal_thermal_default, domain;
type hal_radio_default, domain;
type hal_wifi_default, domain;
type hal_bluetooth_default, domain;
type hal_fingerprint_default, domain;
