allow hal_fingerprint_default fingerprint_device:chr_file rw_file_perms;
allow hal_fingerprint_default system_file:file execute_no_trans;
allow hal_fingerprint_default vendor_file:file execute_no_trans;
allow hal_fingerprint_default hal_fingerprint_hwservice:hwservice_manager find;
allow hal_fingerprint_default hal_fingerprint_server:binder call;
allow hal_fingerprint_default hal_fingerprint_hwservice:hwservice_manager add;
allow hal_fingerprint_default fingerprint_prop:property_service set;
allow hal_fingerprint_default system_prop:property_service set;
allow hal_fingerprint_default vendor_fingerprint_prop:property_service set;
