#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

type hal_camera_default, domain;
type hal_camera_default_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(hal_camera_default)

allow hal_camera_default camera_device:chr_file rw_file_perms;
allow hal_camera_default system_file:file execute_no_trans;
allow hal_camera_default vendor_file:file execute_no_trans;
allow hal_camera_default hal_camera_hwservice:hwservice_manager find;
allow hal_camera_default hal_camera_server:binder call;
allow hal_camera_default hal_camera_hwservice:hwservice_manager add;
allow hal_camera_default camera_prop:property_service set;
allow hal_camera_default system_prop:property_service set;
allow hal_camera_default vendor_camera_prop:property_service set;
