#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

type goodix_fp_device, dev_type;

allow fingerprintd goodix_fp_device:chr_file rw_perms;
allow fingerprintd sysfs_fingerprint:file { read write open };
