#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

allow hal_thermal_default self:capability { sys_nice };
allow hal_thermal_default thermal_device:chr_file { read write open ioctl };
allow hal_thermal_default system_server:binder { call };
allow hal_thermal_default vendor_thermal_prop:property_service { set };
