#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

allow hal_bluetooth_default self:capability { sys_nice };
allow hal_bluetooth_default bluetooth_device:chr_file { read write open ioctl };
allow hal_bluetooth_default system_server:binder { call };
allow hal_bluetooth_default vendor_bluetooth_prop:property_service { set };
