#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

allow init self:capability { chown dac_override fsetid sys_nice };
allow init sysfs_vibrator:file { write };
allow init sysfs_fingerprint:file { write };
allow init thermal_engine_exec:file { execute };
allow init thermal_engine:process { getattr };
